@page
@model WebAppRazorPagesPreJoinerbatch2.Pages.DemoModel
@{
}
<h2>Current Date and Time @TempData["res"]</h2>


<form method="post">
<input type="submit" name="submit" value="submit" />
</form>





