@page
@model WebAppRazorPagesPreJoinerbatch2.Pages.DivModel
@{
}
<form method="post">
    <table>
        <tr>
            <th>Enter X:</th>
            <td><input type="number" name="txtx" id="txtx" /></td>
        </tr>

        <tr>
            <th>Enter y:</th>
            <td><input type="number" name="txty" id="txty" /></td>
        </tr>

        <tr>
            <td>
                <input type="submit" name="submit" value="submit" />
            </td>

            <td>
                Div is : @TempData["res"]
            </td>
        </tr>

    </table>
</form>