@page
@model WebAppRazorPagesPreJoinerbatch2.Pages.MyInfoModel
@{
}
<form method="post">
    <table>
        <tr>
            <th>Enter UserName:</th>
            <td><input type="text" asp-for="_res.Name" /></td>
        </tr>

        <tr>
            <th>Enter Email:</th>
            <td><input type="text" asp-for="_res.Email" /></td>
        </tr>

        <tr>
            <td>
                <input type="submit" name="submit" value="submit" />
            </td>

            <td>
                U Have Entered ur Name as : @TempData["name"] and email as @TempData["email"]
            </td>
        </tr>

    </table>
</form>